---
---
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Page</title>
  </head>
  <body>
    <h1>Hello New Page</h1>
    <p>これは新しく追加されたページです。</p>
    <p><a href="/">Indexに戻る</a></p>
  </body>
</html>
